.badge {
  display: flex;
  padding: 10px 20px 12px 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 30px;
  background: var(--white);
}

@media (max-width: 992px) {
  .badge {
    padding: 8px 15px;
  }
}

.badge .icon {
  width: 28px;
  height: 28px;
}

@media (max-width: 992px) {
  .badge .icon {
    width: 22px;
    height: 22px;
  }
}

.badge-secondary {
  background: #f6f6f6;
}

.badge-dark-secondary {
  background: #282828;
}

.badge-dark {
  background: #1F1F1F;
}
