.button {
  display: flex;
  padding: 22px 37px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-radius: 20px;
  transition-property: background, transform;
  transition-duration:  0.3s;
  transition-timing-function: linear;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 35px */
  letter-spacing: -0.5px;
  border: none;
  cursor: pointer;
  transform: scale(1);
}

.button:active {
  transform: scale(0.95);
}

.button .logo-icon {
  width: 28px;
  height: 28px;
}

.button:hover {
  transition-property: background, transform;
  transition-duration:  0.3s;
  transition-timing-function: linear;
}

.button-gradient {
  background: var(--gradient-color);
  color: var(--white);
}

.button-gradient:hover {
  background: radial-gradient(
    147.12% 124.76% at 6.86% 83.96%,
    #ce8900 0%,
    #f30531 27.08%,
    #0019f5 66.38%,
    #00b2ff 100%,
    #009bde 100%
  );
}

.button-dark {
  background: var(--text-color);
  color: var(--background-color);
}

.button-dark:hover {
  background: #434343;
}

.button-light {
  border: 2px solid #bdbdbd;
}

.button-light:hover {
  border-color: var(--black);
}

.button-pink {
  border: 2px solid #000;
  background: #fde7f7;
}

.button-pink:hover {
  background: #ffa8e7;
}

.button-telegram {
  background: #00abcc;
  color: var(--white);
}
