@import url(./variables.css);
@import url(./typography.css);
@import url(./button.css);
@import url(./badge.css);
@import url(./navigation.css);

html {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  touch-action: manipulation;
  font-feature-settings: "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  background: var(--background-color);
  display: block;
  width: 100vw;
  color: var(--text-color);
  overflow-x: hidden;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

.container-md {
  display: block;
  width: 100%;
  max-width: var(--container-max-width-lg);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .container-md {
    max-width: var(--container-max-width-xl);
  }
}

@media screen and (min-width: 1512px) {
  .container-md {
    max-width: var(--container-max-width-xxl);
  }
}

.container-sm {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

