@import url(./variables.css);
@import url(./typography.css);
@import url(./button.css);
@import url(./badge.css);

html {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  touch-action: manipulation;
  font-feature-settings: "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  background: var(--background-color);
  display: block;
  width: 100vw;
  color: var(--text-color);
  overflow-x: hidden;
}

.container-md {
  display: block;
  width: 100%;
  max-width: var(--container-max-width-lg);
  padding: 0 40px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: var(--container-max-width-xl);
  }

  @media screen and (min-width: 1512px) {
    max-width: var(--container-max-width-xxl);
  }
}

.container-sm {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-logo {
  width: 232px;
  height: auto;
}

.header .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100vh - 110px);
  overflow: hidden;
  width: 100vw;
}

.main-section-left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  width: 100%;
}

.main-section-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-section-left-side .badges {
  display: flex;
  padding-top: 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 14px;
  flex-wrap: wrap;
  z-index: 1;
}

.main-section-right-side {
  width: calc((100% - 600px) + 5vw);
  height: calc(100% - 75px);
  position: absolute;
  bottom: 0;
  right: -5vw;
  background: url("../images/main-section-illustration-min.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 1000px;

  @media screen and (min-width: 1980px) {
    right: -8%;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.main-section-right-side .mockup-wrapper {
  height: calc(100% - 110px);
  max-height: calc(1000px - 110px);

  width: auto;
  display: flex;
  position: absolute;
  left: 12vw;
  z-index: 9;
  top: 50%;
  transform: translate(0, -50%);
  overflow: hidden;

  @media screen and (min-width: 1520px) {
    left: 16vw;
    height: calc(100% - 110px);
  }

  @media screen and (min-width: 1980px) {
    left: calc(600px + 14%);
  }
}

.main-section-right-side .iphone-mockup {
  width: auto;
  height: 100%;
}

.main-section-right-side .bg {
  width: calc(100% - 9.5%);
  height: calc(100% - 6%);
  position: absolute;
  top: 3%;
  left: 4.5%;
  z-index: -1;
  border-radius: 5px;
  transform: rotate(2.204deg);

  @media screen and (min-width: 1280px) {
    border-radius: 20px;
  }

  @media screen and (min-width: 1512px) {
    border-radius: 30px;
  }
}

.scrolling-text {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  z-index: 0;
}

.scrolling-text .text {
  font-family: "HeliosExt", "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  opacity: 0.5;
  animation: animate_text 30s linear infinite;
}

.scrolling-text .text span {
  margin: 0 25px;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.catalog-section {
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 120px 0px;
  border-radius: 40px;
  background: linear-gradient(
      227deg,
      rgba(2, 177, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 21.88%,
      rgba(255, 255, 255, 0) 83.33%,
      rgba(167, 16, 238, 0.2) 100%
    ),
    #f5f5f5;
}

.catalog-section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.catalog-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.catalog-section .content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  text-align: center;
}

.catalog-section .content .sub-title {
  text-align: center;
}

.catalog-section .iphone-list {
  --list-gap: 33px;
  --item-length: 3;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: var(--list-gap);
  flex-shrink: 0;
}

.catalog-section .iphone-list .item {
  width: calc(
    (100% - var(--list-gap) * (var(--item-length) - 1)) / var(--item-length)
  );
  max-width: 364px;
  height: auto;
}

.catalog-section .brand-list {
  --list-gap: 100px;
  --item-length: 6;

  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  gap: var(--list-gap);
}

.catalog-section .brand-list .item {
  width: calc(
    (100% - (var(--list-gap)) * (var(--item-length) - 1)) / var(--item-length)
  );
  height: auto;
}

.price-section {
  --gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
  padding-top: 120px;
  padding-bottom: 101px;

  @media screen and (min-width: 1512px) {
    --gap: 60px;
  }

  @media screen and (min-width: 1728px) {
    --gap: 140px;
  }
}

.price-section .side {
  width: calc(100% / 2 - (var(--gap)));
  height: auto;
}

.price-section .price-section-image {
  width: 100%;
  height: auto;
}

.price-section .content-side {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.price-section .content-side .paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.price-section .gradient-box {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: linear-gradient(
      227deg,
      rgba(2, 177, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 21.88%,
      rgba(255, 255, 255, 0) 83.33%,
      rgba(167, 16, 238, 0.2) 100%
    ),
    #f5f5f5;
}

.guarante-section {
  background: var(--black);
  color: var(--background-color);
  padding: 120px 0 140px 0;
}

.guarante-section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.guarante-section .wrapper hr {
  width: 100%;
  border: none;
  margin: 0;
  border-bottom: solid 2px var(--background-color);
}

.guarante-section .sub-section-original {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 44px;
}

.guarante-section .sub-section-original .content {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.guarante-section .sub-section-original .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 656px;
  max-height: 476px;
  width: 100%;
  position: relative;
}

.guarante-section .sub-section-original .img-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.43);
  width: 100%;
  height: 100%;
  border-radius: 923px;
  z-index: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #02ece6 0%,
    rgba(1, 193, 212, 0) 100%
  );
}

.guarante-section .sub-section-original .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 114px 0px rgba(0, 0, 0, 0.8);
}

.guarante-section .sub-section-verify {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 140px;
}
.guarante-section .sub-section-verify .description {
  display: inline;
}

.guarante-section .sub-section-verify .description a {
  color: var(--poizon-color);
}

.guarante-section .video {
  background: #3a3a3a;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.delivery-section {
  padding-top: 161px;
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  gap: 160px;
  position: relative;
}

.delivery-section .sub-section-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delivery-section .sub-section-main .content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 600px;
  width: 100%;
  z-index: 1;
}

.delivery-section .sub-section-main .paragraph {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.delivery-section .sub-section-main .paragraph .description {
  max-width: 470px;
}

.delivery-section .sub-section-main .delivery-bg {
  position: absolute;
  width: calc(100% - 600px);
  top: 0;
  right: 0;
  z-index: 0;
}

.delivery-section .sub-section-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  z-index: 1;
}

.delivery-section .sub-section-details .cards-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  width: 100%;
}

.delivery-section .sub-section-details .card-secondary {
  display: flex;
  max-width: 499px;
  width: 100%;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  border-radius: 30px;
  background: var(--background-secondary);
}

.delivery-section .sub-section-details .card-secondary .img {
  width: 206px;
  height: auto;
}

.delivery-section .sub-section-details .card-image {
  max-width: calc(100% - 499px);
  width: 100%;
  height: 503px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 34px 40px;
  background: url(../images/shouroom.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  color: var(--background-color);
}

.delivery-section .sub-section-details .card-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.delivery-section .sub-section-details .card-image .content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 1;
}

.catalog-2-section {
  padding: 120px 0 136px 0;
  border-radius: 40px;
  background: linear-gradient(
      227deg,
      rgba(2, 177, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 21.88%,
      rgba(255, 255, 255, 0) 83.33%,
      rgba(167, 16, 238, 0.2) 100%
    ),
    linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 100%), #eee;
}

.catalog-2-section .heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin-bottom: 65px;
}

.catalog-2-section .cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.catalog-2-section .cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 122px;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow-x: auto;

  padding-left: calc((100% - var(--container-max-width-lg)) / 2 + 40px);
  padding-right: calc((100% - var(--container-max-width-lg)) / 2 + 40px);

  @media screen and (min-width: 1280px) {
    padding-left: calc((100% - var(--container-max-width-xl)) / 2 + 40px);
    padding-right: calc((100% - var(--container-max-width-xl)) / 2 + 40px);
  }

  @media screen and (min-width: 1728px) {
    padding-left: calc((100% - var(--container-max-width-xxl)) / 2 + 40px);
    padding-right: calc((100% - var(--container-max-width-xxl)) / 2 + 40px);
  }
}

.catalog-2-section .cards::-webkit-scrollbar {
  display: none;
}

.catalog-2-section .cards .card {
  border-radius: 40px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 340px;
  flex-shrink: 0;
  overflow: hidden;
}

.catalog-2-section .cards .card .content .image {
  width: 100%;
  height: 184px;
  object-fit: contain;
}

.catalog-2-section .cards .card .content {
  padding: 15px 20px 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog-2-section .cards .card .content .price {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 36px */
  letter-spacing: -1.5px;
}

.catalog-2-section .cards .card .content .name {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 32.5px */
  letter-spacing: -0.5px;
}

.catalog-2-section .action-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.catalog-2-section .action-group .description {
  color: #3f3f3f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
  max-width: 390px;
}

.split-section {
  margin: 80px auto;
  max-width: 1400px;
  width: 100%;
  border-radius: 30px;
  background: var(--txt-main-color, #000);
  display: flex;
  flex-direction: row;
  color: var(--background-color);
  padding: 18px 0;
  position: relative;
}

.split-section .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 120px 0;
}

.split-section .image {
  width: 50%;
  position: absolute;
  left: 0px;
  height: auto;
}

.split-section .content {
  display: flex;
  flex-direction: column;
  gap: 142px;
  width: 50%;
}

.split-section .content .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.split-section .content .heading .badge {
  margin-bottom: 23px;
  background: #1f1f1f;
}

.split-section .content .heading .title {
  margin-bottom: 19px;
}

.split-section .content .heading .sub-title {
  margin-bottom: 30px;
}

.split-section .content .details {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.split-section .content .details .title {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 36px */
  letter-spacing: -1.5px;
}

.team-section {
  display: flex;
  padding-bottom: 90px;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.team-section .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  max-width: 800px;
}

.team-section .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.team-section .content .image {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.team-section .content .gradient-box {
  display: flex;
  padding: 50px 74px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(
      227deg,
      rgba(2, 177, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 21.88%,
      rgba(255, 255, 255, 0) 83.33%,
      rgba(167, 16, 238, 0.2) 100%
    ),
    linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 100%), #eee;
}

.team-section .content .gradient-box .wrapper {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.team-section .content .gradient-box .line {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #000 20.31%,
    #000 82.81%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 1px;
}

.team-section .content .gradient-box .address {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.team-section .content .gradient-box .address .icon {
  width: 28px;
  height: 28px;
}

.review-section {
  display: flex;
  padding: 120px 0px;
  flex-direction: column;
  align-items: center;

  background: var(--pink-bg);
}

.review-section .title {
  margin-bottom: 50px;
  text-align: center;
}

.review-section .title .text-red-color {
  color: #ff3d00;
}

.review-section .review-list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 40px;
  justify-content: flex-start;
  align-self: flex-start;
  padding: 0 40px;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 50px;

  padding-left: calc((100% - var(--container-max-width-lg)) / 2 + 40px);
  padding-right: calc((100% - var(--container-max-width-lg)) / 2 + 40px);

  @media screen and (min-width: 1280px) {
    padding-left: calc((100% - var(--container-max-width-xl)) / 2 + 40px);
    padding-right: calc((100% - var(--container-max-width-xl)) / 2 + 40px);
  }

  @media screen and (min-width: 1728px) {
    padding-left: calc((100% - var(--container-max-width-xxl)) / 2 + 40px);
    padding-right: calc((100% - var(--container-max-width-xxl)) / 2 + 40px);
  }
}

.review-section .review-list::-webkit-scrollbar {
  display: none;
}

.review-section .review-list .review {
  width: auto;
  height: 489px;
}

.media-section {
  display: flex;
  padding: 110px 0;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  max-width: 1160px;
}

.media-section .title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.media-section .content-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.media-section .content-cards .chapter {
  display: flex;
  gap: 20px;
}

.media-section .content-cards .chapter .row {
  width: calc((100% / 3) * 2);
  display: block;
}

.media-section .content-cards .chapter.col {
  flex-direction: column;
  width: calc(100% / 3);
}

.media-section .content-cards .card {
  border-radius: 30px;
  display: flex;
  transition: transform 0.3s linear;
}
.media-section .content-cards .card:hover {
  transition: transform 0.3s linear;
  transform: scale(1.03);
}

.media-section .content-cards .card.telegram {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: var(--black);
  color: var(--background-color);
  padding: 22px 22px 22px 30px;
  gap: 45px;
  cursor: pointer;
}

.media-section .content-cards .card.telegram .image {
  max-width: 300px;
  width: calc(50% - 45px);
  height: auto;
}

.media-section .content-cards .card.telegram .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
  width: calc(50%);
  height: 100%;
  justify-content: center;
}

.media-section .content-cards .card.telegram .content .heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.media-section .content-cards .card.telegram .content .description {
  color: #747474;
  margin-top: 30px;
}

.media-section .content-cards .card.vc-ru {
  background: var(--pink-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px 20px 21px;
  width: 100%;
  cursor: pointer;
}

.media-section .content-cards .card.vc-ru .logo {
  width: 160px;
  height: auto;
  margin-bottom: 40px;
  margin-left: -33px;
}

.media-section .content-cards .card.youtube {
  background: #ededed;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 20px;
  cursor: pointer;
}

.media-section .content-cards .card.youtube .heading {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
}

.media-section .content-cards .card.youtube .heading .avatar {
  width: 119px;
  height: auto;
}

.media-section .content-cards .card.youtube .heading .logo {
  width: 130px;
  height: auto;
  margin-top: 10px;
}

.media-section .content-cards .card.youtube .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-section .content-cards .card.excursion {
  width: calc(100% / 3);
  height: auto;
  position: relative;
  cursor: pointer;
}

.media-section .content-cards .card.excursion .image {
  width: 100%;
  height: auto;
}

.media-section .content-cards .card.excursion .play-button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40%;
  height: auto;
  cursor: pointer;
  pointer-events: all;
  z-index: 9;
  animation: playButtonAnim 0.7s linear infinite;
}

@keyframes playButtonAnim {
  0% {
    transform: translate(-50%, 0) scale(1);
  }

  50% {
    transform: translate(-50%, 0) scale(1.2);
  }
}

.media-section .content-cards .card.vk {
  width: calc(100% / 3);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 34px 30px;
  justify-content: space-between;
  background: #222;
  color: var(--white);
  cursor: pointer;
}

.media-section .content-cards .card.vk .logo {
  width: 90px;
  height: auto;
  margin-bottom: 33px;
}

.media-section .content-cards .card.vk .title {
  display: inline;
  flex-direction: row;
  align-items: baseline;
}

.media-section .content-cards .card.vk .title .check {
  width: 33px;
  height: auto;
}

.media-section .content-cards .card.vk .sub-title {
  margin-top: 15px;
  color: #3375f6;
}

.media-section .content-cards .card.vk .description {
  margin-top: auto;
  color: #747474;
}

.media-section .content-cards .card.video {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.media-section .content-cards .card.video video {
  width: 100%;
  object-fit: cover;
  max-height: 540px;
  height: auto;
}

.footer {
  padding: 37px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: var(--pink-bg);
}

.footer .container-md {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer .left-side {
  display: flex;
  flex-direction: row;
  gap: 38px;
  width: 100%;
  align-items: center;
}

.footer .left-side .info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer .logo {
  max-width: 329px;
  width: 100%;
  height: auto;
}

.footer .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 31px;
  align-items: center;
  justify-content: flex-end;
}
.footer .links .info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer .social-media .logo {
  width: 41px;
  height: 41px;
}

.footer a.link {
  border-bottom: 1px solid #06f;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
}

.excursion-video {
  height: 0;
  display: none;
}

.excursion-video.show {
  display: block;
  height: auto;
}
