.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }
  .header .wrapper {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .header .wrapper {
    gap: 15px;
  }
}

.header-logo {
  width: 232px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .header-logo {
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .header-logo {
    width: 152px;
  }
}

.header .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  overflow-x: auto;
}

@media screen and (max-width: 1200px) {
  .header .nav-list {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 428px) {
  .header .nav-list {
    gap: 50px;
  }
}

@media (max-width: 390px) {
  .header .nav-list {
    gap: 40px;
  }
}

@media (max-width: 375px) {
  .header .nav-list {
    gap: 34px;
  }
}

.header .nav-list::-webkit-scrollbar {
  display: none;
}
