:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #484848;
  --text-secondary-light-color: #838383;
  --text-link-color: #3375F6;
  --text-stroke-color: #EAEAEA;
  --white: #ffffff;
  --black: #000;
  --gradient-color: radial-gradient(
    147.12% 124.76% at 6.86% 83.96%,
    #eb9c00 0%,
    #ff4769 27.08%,
    #253bff 66.38%,
    #00b2ff 100%
  );
  --pink-bg: #fde7f7;
  --poizon-color: #02c1d2;
  --background-secondary: #f1f1f1;

  --media-width-sm: 600px;
  --media-width-md: 960px;
  --media-width-lg: 1280px;
  --media-width-xl: 1512px;
  --media-width-xxl: 1728px;

  --container-max-width-sm: 100%;
  --container-max-width-md: 100%;
  --container-max-width-lg: 1200px;
  --container-max-width-xl: 1312px;
  --container-max-width-xxl: 1528px;

  --container-padding-x: 40px;
}

@media screen and (max-width: 1000px) {
  :root {
    --container-padding-x: 20px;
  }
}
